<nav class="navbar navbar-expand-lg fixed shadow-lg p-3 mb-5  " style=" height: 70px;">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Angular Dev</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 ">
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link"  routerLinkActive>About</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" routerLink="/test4" (click)="openLinkedIn()">LinkedIn</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="#">Naukuri</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" routerLink="/test5">Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>