<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="container">
       
        <div class="sign_in form_container">
            <form>
                <img class="image" src="assets\logo.png" alt="logo_icon">                
                <input class="email1" name="email" type="email" placeholder="Email">
                <p class="emailfield1 text"><i class="fa-solid fa-circle-exclamation"></i> Please enter a valid email-address</p>
                <div class="passdiv">
                <input class="pass1" name="password"  type="password" placeholder="Password"><i class="fa-solid fa-lock show-hide"></i>
                </div>
                <p class="passfield1 text"><i class="fa-solid fa-circle-exclamation"></i> Please enter a valid password</p>
                <p class="forgetpass">Forget Your Password?</p>
                <button (click)="welcome()">SIGN IN</button>
            </form>
        
      
        </div>
    </div>
</body>
</html>